@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 328 68% 51%;
        --primary-foreground: 0 0% 98%;

        /* --secondary: 328 100% 97%; */
        --secondary: 328 100% 95%;
        --secondary-foreground: 240 5.9% 10%;

        --salad: 62 90% 54%;
        --salad-foregronound: 240 10% 3.9%;

        --purple: 268 52% 49%;
        --purple-foreground: 0 0% 98%;

        --muted: 328 100% 97%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 328 100% 97%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 20 5.9% 90%;
        --input: 0 0% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 15px;
    }

    @layer utilities {
        .text-balance {
            text-wrap: balance;
        }
    }

    @layer base {
        * {
            @apply border-border;
        }
        body {
            @apply bg-background text-foreground;
        }
    }

    #nprogress .bar {
        @apply bg-primary !important;
    }

    #nprogress .peg {
        @apply shadow-md shadow-primary !important;
    }

    #nprogress .spinner-icon {
        @apply border-t-primary border-l-primary !important;
    }
}
